DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
COMMAND_SYNC_MODE=guild
DATABASE_URL=mongodb://127.0.0.1:27017/astro-bot
OWNER_IDS=
DEFAULT_LANGUAGE=fr
LOG_LEVEL=info

DASHBOARD_ENABLED=true
DASHBOARD_URL=http://localhost:3000
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3000/callback
SESSION_SECRET=
