DATABASE_URL=mongodb+srv://user:password@cluster.mongodb.net/astro-bot?retryWrites=true&w=majority
CLIENT_ID=1521085930356609124
DISCORD_CLIENT_SECRET=
DASHBOARD_URL=https://project-faalp.vercel.app
DISCORD_REDIRECT_URI=https://project-faalp.vercel.app/callback
SESSION_SECRET=replace-with-a-long-random-secret
GUILD_ID=1392992089700045020
